<html>
	<head>
		<title>squared2csv</title>
		<style>
		* {
			font-family: sans-serif;
		}
		</style>
	</head>
	<body>
		<h1>squared2csv</h1>
		<p>This is a bookmarklet to let you download the contents of the current Google Squared spreadsheet as a CSV file.  It calls back to this server for the html translation.  You can see the <a href="http://github.com/fizx/squared2csv">source of this application on GitHub</a>.</p>
		<p>Drag the following link to your bookmarks bar: <a href="javascript:(function(){var s=document.createElement('script');s.setAttribute('src', 'http://squared2csv.heroku.com/script.js');s.setAttribute('type', 'text/javascript');document.body.appendChild(s);})();">squared2csv</a>
</html>